* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    @media(max-width:740px) {
        font-size: 17px;
    }

    @media(max-width:540px) {
        font-size: 14px;
    }

    @media(max-width:414px) {
        font-size: 11px;
    }

    @media(max-width:390px) {
        font-size: 10px;
    }

    @media(max-width:360px) {
        font-size: 9px;
    }

    @media(max-width:280px) {
        font-size: 7px;
    }
}

